.App {
  display: block;
  width: 100%;
  background: url('./exagone_fond.svg');
  background-color: #202020;
  font-family: 'Kumbh Sans', sans-serif;
  color: #fff;
}
.App .logo{
  width: 65px !important;
  height: 80px !important;
  position: relative;
}
.App .scroll_icon{
  position: absolute;
  top: calc(100vh - 75px);
  left: calc(50% - 32.5px)
}

.flex_container{
  display: flex;
  height: calc(100vh - 40px);
  padding: 20px;
}

.block_container{
  display: block;
}

.container_visuel{
  width: 55vw !important;
  max-height: 666px;
}
.container_visuel .container_room{
  max-width: 630px !important;
  height: 100%;
  position: relative;
}
.container_visuel .room{
  width: 100%;
}
.container_visuel .container_room .light_0{
  position: absolute;
  top: 38%;
  left: 19%;
  z-index: 6;
}
.container_visuel .container_room .light_1{
  position: absolute;
  top: 31%;
  left: 34%;
  z-index: 6;
}
.container_visuel .container_room .light_2{
  position: absolute;
  top: 23%;
  left: 49%;
  z-index: 6;
}
.container_visuel .container_room .light_3{
  position: absolute;
  top: 44%;
  left: 34%;
  z-index: 7;
}
.container_visuel .container_room .light_4{
  position: absolute;
  top: 38%;
  left: 49%;
  z-index: 7;
}
.container_visuel .container_room .light_5{
  position: absolute;
  top: 31%;
  left: 64%;
  z-index: 7;
}
.container_visuel .container_room .light_6{
  position: absolute;
  top: 53%;
  left: 49%;
  z-index: 7;
}
.container_visuel .container_room .light_7{
  position: absolute;
  top: 44%;
  left: 64%;
  z-index: 7;
}
.container_visuel .container_room .light_8{
  position: absolute;
  top: 38%;
  left: 79%;
  z-index: 7;
}

.container_visuel .container_room .left_side .chair_1{
  position: absolute;
  top: 315px;
  left: 170px;
  z-index: 6;
}
.container_visuel .container_room .left_side .chair_2{
  position: absolute;
  top: 335px;
  left: 210px;
  z-index: 6;
}
.container_visuel .container_room .left_side .chair_3{
  position: absolute;
  top: 355px;
  left: 250px;
  z-index: 6;
}
.container_visuel .container_room .left_side .chair_4{
  position: absolute;
  top: 300px;
  left: 200px;
  z-index: 5;
}
.container_visuel .container_room .left_side .chair_5{
  position: absolute;
  top: 320px;
  left: 240px;
  z-index: 5;
}
.container_visuel .container_room .left_side .chair_6{
  position: absolute;
  top: 340px;
  left: 280px;
  z-index: 5;
}
.container_visuel .container_room .left_side .chair_7{
  position: absolute;
  top: 285px;
  left: 230px;
  z-index: 4;
}
.container_visuel .container_room .left_side .chair_8{
  position: absolute;
  top: 305px;
  left: 270px;
  z-index: 4;
}
.container_visuel .container_room .left_side .chair_9{
  position: absolute;
  top: 325px;
  left: 310px;
  z-index: 4;
}
.container_visuel .container_room .left_side .chair_10{
  position: absolute;
  top: 270px;
  left: 260px;
  z-index: 3;
}
.container_visuel .container_room .left_side .chair_11{
  position: absolute;
  top: 290px;
  left: 300px;
  z-index: 3;
}
.container_visuel .container_room .left_side .chair_12{
  position: absolute;
  top: 310px;
  left: 340px;
  z-index: 3;
}
.container_visuel .container_room .left_side .chair_13{
  position: absolute;
  top: 255px;
  left: 290px;
  z-index: 2;
}
.container_visuel .container_room .left_side .chair_14{
  position: absolute;
  top: 275px;
  left: 330px;
  z-index: 2;
}
.container_visuel .container_room .left_side .chair_15{
  position: absolute;
  top: 295px;
  left: 370px;
  z-index: 2;
}
.container_visuel .container_room .left_side .chair_16{
  position: absolute;
  z-index: 2;
}

.container_visuel .container_room .right_side .chair_1{
  position: absolute;
  top: 405px;
  left: 330px;
  z-index: 6;
}
.container_visuel .container_room .right_side .chair_2{
  position: absolute;
  top: 425px;
  left: 370px;
  z-index: 6;
}
.container_visuel .container_room .right_side .chair_3{
  position: absolute;
  top: 445px;
  left: 410px;
  z-index: 6;
}
.container_visuel .container_room .right_side .chair_4{
  position: absolute;
  top: 390px;
  left: 360px;
  z-index: 5;
}
.container_visuel .container_room .right_side .chair_5{
  position: absolute;
  top: 410px;
  left: 400px;
  z-index: 5;
}
.container_visuel .container_room .right_side .chair_6{
  position: absolute;
  top: 430px;
  left: 440px;
  z-index: 5;
}
.container_visuel .container_room .right_side .chair_7{
  position: absolute;
  top: 375px;
  left: 390px;
  z-index: 4;
}
.container_visuel .container_room .right_side .chair_8{
  position: absolute;
  top: 395px;
  left: 430px;
  z-index: 4;
}
.container_visuel .container_room .right_side .chair_9{
  position: absolute;
  top: 415px;
  left: 470px;
  z-index: 4;
}
.container_visuel .container_room .right_side .chair_10{
  position: absolute;
  top: 360px;
  left: 420px;
  z-index: 3;
}
.container_visuel .container_room .right_side .chair_11{
  position: absolute;
  top: 380px;
  left: 460px;
  z-index: 3;
}
.container_visuel .container_room .right_side .chair_12{
  position: absolute;
  top: 400px;
  left: 500px;
  z-index: 3;
}
.container_visuel .container_room .right_side .chair_13{
  position: absolute;
  top: 345px;
  left: 450px;
  z-index: 2;
}
.container_visuel .container_room .right_side .chair_14{
  position: absolute;
  top: 365px;
  left: 490px;
  z-index: 2;
}
.container_visuel .container_room .right_side .chair_15{
  position: absolute;
  top: 385px;
  left: 530px;
  z-index: 2;
}

.controller{
  position: relative;
  max-height: 666px;
  margin-top: 135px;
}
.controller .ReactNipple{
  margin: auto;
  width: 120px !important;
  height: 120px !important;
}
.controller h3{
  margin-bottom: 20px;
}
.controller .nipple .back, .controller .nipple .front{
  background: #63c96b !important;
}
.controller .debug{
  width: 360px;
}
.controller .debug .light_position{
  display: none !important;
}
.title{
  margin-top: 90px;
}
.title h1{
  font-size: 35px;
  margin: 0;
}
.title .rectangle{
  width: 185px;
  height: 2px;
  background-color: #63A171;
  margin-left: 35px;
  margin-top: 16px;
}
.light_block{
  display: flex;
  background: url('./background_linear.svg') no-repeat center 100%;
  height: 100vh;
}
.light_block .title_light_block h2{
  color: #000;
  background: url('./Group_rectangle.svg') no-repeat bottom;
  font-size: 35px;
  width: 500px;
  text-align: end;
  margin-top: 200px;
  margin-left: calc(100% - 300px);
}
.energy_block{
  display: flex;
  height: 100vh;
}
.energy_block h2{
  width: 360px;
  font-size: 35px;
  margin-top: 210px;
  margin-left: 100px;
}
.energy_block .energy_image{
  margin-left: 176px;
  margin-top: 182px;
}

.slider {
  display: flex;
  flex-direction: column;
}

.slider_carousel{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  box-shadow: -1px 2px 10px 2px rgba(0, 0, 0, 0.5);
}
.carousel_slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: flex;
}
.carousel_slide img, .carousel svg {
  max-width: 100%;
}
.carousel_history {
  position: absolute;
  z-index: 2;
  bottom: 10px;
  width: 25px;
  height: 130px;
  right: 5%;
  top: calc( 50% - 65px);
  left: auto;
}
.carousel_history ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.carousel_history ul li {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  height: inherit;
  position: relative;
}
.carousel_history ul li:not(:last-of-type) {
  margin-right: 5%;
}
.carousel_history ul li button {
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  background: url('./Polygon_grey.svg') no-repeat center 100%;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: background-color 300ms ease;
}
.carousel_history ul li button.active {
  background: url('./Polygon_green.svg') no-repeat center 100%;
}
.carousel_control {
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
  border: 0;
  padding: 0 5px;
  width: 10%;
  overflow: hidden;
  transition: background-color 300ms ease;
  cursor: pointer;
}
.carousel_control span {
  display: inline-block;
  width: 2vw;
  height: 2vw;
  position: relative;
  box-sizing: border-box;
  opacity: 0.65;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  transition: opacity 300ms ease;
}
.carousel_control:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.carousel_control:hover span {
  opacity: 0.95;
}
.carousel_control__prev {
  left: 0;
  padding-left: 12px;
}
.carousel_control__prev span {
  transform: rotate(45deg);
}
.carousel_control__next {
  right: 0;
  padding-right: 12px;
}
.carousel_control__next span {
  transform: rotate(-135deg);
}

.leave {
  transform: translateX(0);
}

.enter-active.enter-next,
.enter-active.enter-prev {
  transform: translateX(0);
  transition: transform 500ms linear;
}

.enter-next {
  transform: translateY(100vh);
}

.enter-prev {
  transform: translateY(-100vh);
  transition: transform 500ms linear;
}

.leave-active-next {
  transform: translateY(-100vh);
  transition: transform 500ms linear;
}

.leave.leave-active-prev {
  transform: translateY(100vh);
  transition: transform 500ms linear;
}
.visible{
  display: block !important;
}
.hidden{
  display: none !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
